.container-header
{
	margin: 0 auto;
	background-image: url("../images/header.jpg");
	background-size: 100%;
	padding: 20px 30px;
}
.container-footer
{
	margin: 0 auto;
}
.container-body
{
	margin: 0 auto;
	float: center;
	
}

.navigation-panel
{
	margin: 0 auto;
	color:white;
	padding:20px 30px;
	font-size: 20px;
	background-color: gray;
}

.wrapper
{
	overflow: hidden;
	margin: 0 auto;
	width:80%;
	float: center;
	background-color: blue;
}

#menu
{
	float:left;
	color: black;
	margin:0;
	line-height: 25px;
}
#menu li
{
		list-style:none;
		display: inline;
				
}
#menu a
{
	margin: 5px;
	text-decoration: none;
	color:#FFFFFF;
	padding: 10px;

}
#menu a:hover
{
	font-weight: bold;
	text-decoration: underline;
	color: black;
}
.left-container
{
	float: left;
	background-size: 100%;
	width:20%;
	height: 40%;
	background-repeat: repeat;
	background-image: url("../images/header.jpg");
}
.right-container
{
	background-color: blue;
	
}
#search
{
	line-height: 2px;
}
#categories
{
	text-align: center;
	height: 375px;
}
#categories h2{ margin:10px;
	padding: 10px;

background-color: white;}
#categories h2:hover{
	text-decoration: underline;
	font-weight: bold;
	color:#720058;

}
#product_category li{
	padding:10px;
	text-align: center;
	list-style: none;
	
}
#product_category a{
	color: black;
text-decoration: none;

font-size: 18px;
	
}
#product_category a:hover{
	text-decoration: underline;
	font-weight: bold;
	color:#720058;
}
.label{
	align:right;
	font-weight:"bold";
}
#welcom_banner{
background-color: black;
text-align: right;
height: 50px;
color: white;
}
#welcom_banner h3{margin: 0px;
padding: 10px;}

#prodct_display{
	float: left;
	width:23%;
	background-color: blue;
	text-decoration: bold;
	margin-left: 30px;
	color: white;
}
#prodct_display img{
	border:2px solid black;
	height:230px;
	width:282px;
	align-content: center;
}
#prodct_display h3{
	text-align: center;
	
}
#prodct_display a{
	color: white;
	text-decoration: blink;
}
#cart_display img{
	border:2px solid black;
	height:120px;
	width:120px;
	align-content: center;
}
#show_card{
	margin: 0 auto;
	width:50%;
	text-align: center;
	color: white;

}